body{
    background-color: rgb(0, 186, 253);
    background-image: radial-gradient(circle, rgb(17, 174, 213), whitesmoke);
    /* background-image: radial-gradient(circle, rgb(0, 72, 255), black); */
    
}

body.dark-mode {
    background-color: black;
    color: white;
    background-image: radial-gradient(circle, black, black);
  }



#logo_container{
    
    background: url(../images/logo.png) no-repeat;
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: span 2;
    width: 40%;
    height: 40%;
    margin: 5px;
    padding: 5px;
    justify-content: left;
    align-items: left;

}

#logo{
    width: 100%;
    height: 100%;
}

#dark-mode-btn{
    position: absolute;
    margin-top: -56px;
    margin-left: 43%;
}

/* #slogan{
    width: 15%;
    border: 2px solid red;
} */

h4{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: goldenrod;
    margin-top: -5px;
    margin-left: 7px;
    padding-left: 1.5%;
    width: 20%;
    
    
}

.container{
    display: grid;
    grid-template-columns: span 2;
    grid-column-end: 2;
    width: 40%;
    margin-top: 20%;
    
    /* border: 2px solid yellow; */
    /* font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(3, 1fr); */
    
}

#story{
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-shadow: -1px -1px 0 whitesmoke, 1px -1px 0 whitesmoke, -1px 1px 0 whitesmoke, 1px 1px 0 whitesmoke;
    margin-left: 10px;
}





#workout_container{
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: span 2;
    width: 100%;
    padding: 10px;
    margin: 10px;

}

#man_woman_gym{
    width: 60%;
    height: 100%;
}


/* #workout_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* create 2 columns */
    /* grid-template-rows: 1fr; create 1 row */
/* } */ 

/* #man_woman_gym {
    grid-column: 1/2; /* place the image in the first column */
/* } */ 



footer{
    color: goldenrod;
}

button{
    display: grid;
    justify-content: right;
    background-color: whitesmoke;
    color: red;
    padding: 10px;
    font-size: 20px;
    border-radius: 100px;
    border: 1px solid transparent;
    margin-left: 85%;

}

#food_input {
    color: whitesmoke;
}

#calories_title{
    color: whitesmoke;
}

  
#motivation_container{
    /* border: 2px solid rgb(13, 255, 0); */
    display: grid;
    /* grid-template-columns: span 2; */
    width: 35%;
    padding: 10px;
    margin: 10px;
    margin-left: 62%;
    margin-top: -42%;
    margin-bottom: 10px;
    padding-bottom: 100px;

}

#motivation{
    color: whitesmoke;
    font-size: 300%;
    
    
    
}

#home, #about, #contact, #get_started{
    display: inline-block;
    margin-right: 2%;
    font-size: 20px;

}

#home a, #about a, #contact a, #get_started a{
    color: purple;
    text-decoration: none;
    /* why doesn't this work */
}

#home a:hover, #about a:hover, #contact a:hover, #get_started a:hover{
    color: red;
    text-decoration: none;
}


.red > a {
    color: red;
    text-decoration: none;
}

.top_button {
    position: fixed;
    bottom: 100px;
    right: 20px;
    display: none;
    margin-bottom: 70px;
}



.youtube{
    margin-bottom: 5px;
}



.facebook:hover, 
.instagram:hover, 
.twitter:hover, 
.youtube:hover, 
.tik_tok:hover, 
.snapchat:hover, 
.linkedin:hover{
    border: 2px solid red;
}

/* Screen sizes smaller than 1200px */

@media (max-width: 1200px) {

    #logo_container{
    
        background: url(../images/logo.png) no-repeat;
        /* border: 2px solid red; */
        display: grid;
        grid-template-columns: span 2;
        width: 80%;
        height: 40%;
        margin: 5px;
        padding: 5px;
        justify-content: left;
        align-items: left;
    
    }

    h4{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: lighter;
        color: goldenrod;
        margin-top: -5px;
        margin-left: 30px;
        padding-left: 1.5%;
        width: 55%;
        font-size: 35px;
    }

    #home, #about, #contact, #get_started{
        display: inline-block;
        margin-right: 2%;
        font-size: 36px;
    
    }

    .container{
        display: grid;
        /* grid-template-columns: span 2; */
        grid-column-end: 2;
        width: 60%;
        margin-top: 15%;
        
    }

    #dark-mode-btn{
        position: absolute;
        margin-top: -43px;
        margin-left: 80%;
    }




}






/* Screen sizes smaller than 992px */

@media (max-width: 992px) {

    h4{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: lighter;
        color: goldenrod;
        margin-top: -5px;
        margin-left: 20px;
        padding-left: 1.5%;
        width: 80%;
        font-size: 30px;
    }

    #home, #about, #contact, #get_started{
        display: inline-block;
        margin-right: 2%;
        font-size: 40px;
    
    }

    #man_woman_gym{
        width: 80%;
        height: 100%;
    }


#motivation_container{
    /* border: 2px solid rgb(13, 255, 0); */
    display: grid;
    /* grid-template-columns: span 2; */
    width: 80%;
    padding: 10px;
    margin: 10px;
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom: 10px;

}

.container{
    display: grid;
    /* grid-template-columns: span 2; */
    grid-column-end: 2;
    width: 78%;
    margin-top: 5%;
    
}

button{
    display: grid;
    /* justify-content: right; */
    background-color: whitesmoke;
    color: red;
    padding: 10px;
    font-size: 20px;
    border-radius: 100px;
    border: 1px solid transparent;
    margin-left: 5%;

}

.top_button {
    position: fixed;
    bottom: 50px;
    right: 50px;
    margin-bottom: 70px;
}

.facebook:hover, 
.instagram:hover, 
.twitter:hover, 
.youtube:hover, 
.tik_tok:hover, 
.snapchat:hover, 
.linkedin:hover{
    border: 2px solid red;
}

#dark-mode-btn{
    position: absolute;
    margin-top: -43px;
    margin-left: 80%;
}

#good_things{
    font-size: 15px;
}

#dark-mode-btn {
    position: absolute;
    margin-top: -56px;
    margin-left: 80%;
   
}
}


/* Screen sizes smaller than 600px */
@media (max-width: 600px) {
    h4{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: lighter;
        color: goldenrod;
        margin-top: -5px;
        margin-left: 12px;
        padding-left: 1.5%;
        width: 80%;
        font-size: 15px;
    }


#home, #about, #contact, #get_started{
    display: inline-block;
    margin-right: 1%;
    font-size: 15px;

}

#home{
    margin-left: -7%;
}

#man_woman_gym{
    width: 80%;
    height: 100%;
}

#motivation{
    color: whitesmoke;
    font-size: 100%;
    margin-top: 100px;
    
}

#motivation_container{
    /* border: 2px solid rgb(13, 255, 0); */
    display: grid;
    /* grid-template-columns: span 2; */
    width: 100%;
    padding: 10px;
    margin: 10px;
    margin-left: -5%;
    margin-top: -35%;
    margin-bottom: 10px;

}

.container{
    display: grid;
    grid-template-columns: span 2;
    grid-column-end: 2;
    width: 80%;
    margin-top: 5%;
    
}

button{
    display: grid;
    /* justify-content: right; */
    background-color: whitesmoke;
    color: red;
    padding: 10px;
    font-size: 15px;
    border-radius: 100px;
    border: 1px solid transparent;
    margin-left: 60%;

}


#logo_container{
    
    background: url(../images/logo.png) no-repeat;
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: span 2;
    width: 80%;
    height: 40%;
    margin: 5px;
    padding: 5px;
    justify-content: left;
    align-items: left;

}

.top_button {
  visibility: hidden;
}

.facebook, 
.instagram, 
.twitter,   
.snapchat{
    height: 30px;
}

.youtube{
    height: 25px;
}

.tik_tok,
.linkedin{
    height: 35px;
}

.facebook:hover, 
.instagram:hover, 
.twitter:hover, 
.youtube:hover, 
.tik_tok:hover, 
.snapchat:hover, 
.linkedin:hover{
    border: 2px solid red;
}

#dark-mode-btn{
    position: absolute;
    margin-top: -43px;
    margin-left: 78%;
}

}

/* Screen sizes smaller than 545px */

@media (max-width: 545px){

    #motivation_container{
        /* border: 2px solid rgb(13, 255, 0); */
        display: grid;
        /* grid-template-columns: span 2; */
        width: 100%;
        padding: 10px;
        margin: 10px;
        margin-left: -5%;
        margin-top: -25%;
        margin-bottom: 10px;
    
    }

    #home{
        margin-left: -4%;
    }

    #dark-mode-btn{
        position: absolute;
        margin-top: -43px;
        margin-left: 80%;
    }



}

/* Screen sizes smaller than 400px */

@media (max-width: 400px){

    h4{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: lighter;
        color: goldenrod;
        margin-top: -5px;
        margin-left: 12px;
        padding-left: 1.5%;
        width: 80%;
        font-size: 10px;
    }

    #home{
        margin-left: -10%;
    }

    #motivation_container{
        display: grid;
        width: 100%;
        padding: 10px;
        margin: 10px;
        margin-left: -5%;
        margin-top: -35%;
        margin-bottom: 10px;
    
    }

    #story{
        font-size: 12px;
        width: 100%;
        height: 100%;
        margin-top: -5%;
        justify-content: flex-start;
        align-items: flex-start;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        text-shadow: -1px -1px 0 whitesmoke, 1px -1px 0 whitesmoke, -1px 1px 0 whitesmoke, 1px 1px 0 whitesmoke;
        margin-left: 10px;
    }
    

    button{
        display: grid;
        /* justify-content: right; */
        background-color: whitesmoke;
        color: red;
        padding: 5px;
        font-size: 15px;
        border-radius: 100px;
        border: 1px solid transparent;
        margin-left: 60%;
    
    }


}




