body{
    background-color: rgb(0, 186, 253);
    background-image: radial-gradient(circle, rgb(17, 174, 213), whitesmoke);
    
}

#logo_container{
    
    background: url(../images/logo.png) no-repeat;
    border: 2px solid red;
    display: grid;
    grid-template-columns: span 2;
    width: 40%;
    height: 40%;
    margin: 5px;
    padding: 5px;
    justify-content: left;
    align-items: left;

}

#logo{
    width: 100%;
    height: 100%;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: goldenrod;
    margin-top: -5px;
    margin-left: 7px;
    padding-left: 1.5%;
}

.container{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

#home, #about, #contact{
    display: inline-block;
    margin-right: 2%;
    font-size: 20px;



}

#home a, #about a, #contact a{
    color: purple;
    text-decoration: none;
    /* why doesn't this work */
}

#home :hover, #about :hover, #contact :hover{
    color: red;
    text-decoration: none;
}



.red > a {
    color: red;
    text-decoration: none;
}

#calories_maintence, #check_food_calories{
    border: 2px solid red;
}

#US_Measurement, #Metric_Meaurement{
    display: inline-block;
}

#six_months_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 90%;
    height: 90%;
    grid-gap: 10px;

}

#six_months, 
#mom_weight_loss, 
#personal_trainer,
#ww,
#japanesemodel,
#seventhree,
#buzz,
#aa_weight_loss,
#bmwl{
    width: 100%;
    height: 100%;
}

#plan{
    font-size: 120%;
    font-weight: bolder;
}

footer{
    color: goldenrod;
}